*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background: 
    radial-gradient(circle at 20% 20%, rgba(255, 78, 205, 0.3), transparent 40%),
    radial-gradient(circle at 80% 80%, rgba(100, 65, 255, 0.3), transparent 50%),
    linear-gradient(135deg, #0f0c29, #302b63, #6a0572, #c33764);
    background-blend-mode: screen;
    height: 100vh;
}

.blog-wrapper {
    width: 100%;
    max-width: 850px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-wrapper > div {
    width: 48%;
}

.tag {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1a182e;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 50px;
    color: #fff;
    font-size: 13px;
    margin-bottom: 25px;
}

.tag img {
    width: 20px;
}

.left h6 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}

.left h1 {
    font-size: 52px;
    color: #fff;
    margin-bottom: 30px;
}

.left h1 span {
    display: block;
    color: transparent;
    background: linear-gradient(135deg, #731a71, #bf418b, #de4e87, #e34d6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.left h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: #817a8c;
}

.card-image {
    display: flex;
}

.card-image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card {
    background: linear-gradient(135deg, #731a71, #bf418b, #de4e87, #e34d6b);
    padding: 5px;
    border-radius: 20px;
}

.card-wrapper{
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
}

.card-content-top,
.card-content-bottom {
    padding: 10px 30px;
}

.card-content-top {
    border-bottom: 1px solid #d5d5d5;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-content h2 {
    line-height: 1.3;
    margin-bottom: 15px;
}

.card-content p {
    line-height: 1.5;
    color: #687287;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-content p {
    font-size: 16px;
}

.profile-content p{
    font-size: 14px;
}